In [1]:
# %% abrir librerías Multiple tables
import pandas as pd
import sqlite3

In [2]:
# 1. Crear conexión a una base de datos SQLite (en memoria para este ejemplo)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [3]:
# 2. Crear tablas
cursor.execute('''CREATE TABLE usuarios (id_user INTEGER, edad INTEGER, genero TEXT)''')
cursor.execute('''CREATE TABLE productos (id_prod INTEGER, categoria TEXT, precio REAL)''')
cursor.execute('''CREATE TABLE pedidos (id_pedido INTEGER, id_user INTEGER, id_prod INTEGER, fecha TEXT)''')

In [4]:
# 3. Insertar datos de ejemplo
cursor.executemany('INSERT INTO usuarios VALUES (?,?,?)', [(1, 25, 'M'), (2, 34, 'F'), (3, 40, 'M')])
cursor.executemany('INSERT INTO productos VALUES (?,?,?)', [(101, 'Electronica', 500.0), (102, 'Ropa', 50.0)])
cursor.executemany('INSERT INTO pedidos VALUES (?,?,?,?)', [(1, 1, 101, '2023-01-01'), (2, 2, 102, '2023-01-02'), (3, 1, 102, '2023-01-03')])

In [5]:
# 4. Realizar el SQL JOIN para Machine Learning
query = """
SELECT 
    u.edad, 
    u.genero, 
    p.categoria, 
    p.precio AS target_gasto
FROM pedidos o
JOIN usuarios u ON o.id_user = u.id_user
JOIN productos p ON o.id_prod = p.id_prod
"""

In [6]:

# 5. Cargar a un DataFrame de Pandas
df_ml = pd.read_sql_query(query, conn)

print("DataFrame para Machine Learning:")
print(df_ml.head())

# Cerrar conexión
conn.close()

DataFrame para Machine Learning:
   edad genero    categoria  target_gasto
0    25      M  Electronica         500.0
1    34      F         Ropa          50.0
2    25      M         Ropa          50.0