#  Introducci贸n y Objetivos

Este notebook tiene como objetivo demostrar un flujo de trabajo t铆pico de an谩lisis de datos, incluyendo:

- Importaci贸n de librer铆as
- Carga y exploraci贸n de datos  db chinook
- Visualizaci贸n
-

Usaremos data base chinook

#  Importaci贸n de Librer铆as

In [4]:
import mysql.connector

#  Carga y Exploraci贸n de Datos

data base chinook

In [5]:
mydb = mysql.connector.connect(   
  host="localhost",
  user="germancbp",
  password="Gerco#9371",
  database="chinook"
)

In [6]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM tracks LIMIT 5")
myresult = mycursor.fetchall()
print(myresult)

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, Decimal('0.99')), (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99')), (3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, Decimal('0.99')), (4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, Decimal('0.99')), (5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, Decimal('0.99'))]